<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Sessionman</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Firstservlet</display-name>
    <servlet-name>Firstservlet</servlet-name>
    <servlet-class>com.Firstservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Firstservlet</servlet-name>
    <url-pattern>/Firstservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Secondservlet</display-name>
    <servlet-name>Secondservlet</servlet-name>
    <servlet-class>com.Secondservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Secondservlet</servlet-name>
    <url-pattern>/Secondservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Lastservlet</display-name>
    <servlet-name>Lastservlet</servlet-name>
    <servlet-class>com.Lastservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Lastservlet</servlet-name>
    <url-pattern>/Lastservlet</url-pattern>
  </servlet-mapping>
</web-app>